<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>

<div id="app"
     data-token="{{ csrf_token('authenticate') }}"
{#     data-last-email="{{ last_username }}"#}
{#     data-is-authenticated="{{ is_authenticated }}"#}
></div>

<script src="{{ asset('build/runtime.js') }}"></script>
<script src="{{ asset('build/app.js') }}"></script>

</body>
</html>




